@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Fredoka+One&family=Grape+Nuts&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Grape Nuts', cursive;
    background-image: url("./images/board.jpg");
}

.menu{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    //border-bottom: 2px solid blue;
    //background-color: rgb(41, 151, 224);

    h1{
        background-color: rgb(241, 241, 36);
        font-size: 3.5rem;
        padding: 20px;
        border-radius: 50px;;
    }

    &__add{
        display:flex;
        align-self:flex-end;
        align-items:center;
        background-color: rgb(178, 83, 190);
        margin-right:25px;

        span{
            margin-right:20px;
            font-size:1.5rem;
        }

        button{
            margin-right:10px;
           
        }

        &-button-icon{
            width:24px;
            height:30px;
            
        }

        &-disabled{
            display:none;
        }
    }

}

.container{
    height:100vh;
}

.form__add{
    z-index: 3;
    display:flex;
    flex-direction:column;
    align-self: flex-end;
    align-items:center;
    width:20%;
    margin-right: 161px;
    background-color: rgb(243, 243, 13);
    border: 2px solid grey;

    &-disabled{
        display:none;
    }

    input, textarea{
        width: 80%;
        background-color: #F5F5C8;
    }

    label{
        font-size:1.2rem;
        margin:10px 0;
    }

    #input-text{
        height:150px;    
    }
}

.form__buttons{
    margin:10px 0;
    width:80%;
    align-self: center;
    display:flex;
    justify-content:space-around;
}

main{
    display:fixed;
    
}